* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    margin: 0;
    background-color: #000;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 60px;
}

/* HOME PAGE */

.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    padding: 16px;
}

.navbar .icon {
    display: none;
}

.nav-links a.active {
    color: #a00000;
    font-weight: 900;
}


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #000000a7;
    color: white;
    width: 100px;
    top: 100%;
    left: 0;
    background-color: #000000a7;
    display: none;
    list-style: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

nav img {
    width: 140px;
}


.nav-links {
    text-align: right;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding-left: 15px;
    white-space: nowrap;
}

.nav-links a:hover {
    color: #AC0101;
}


.showteam:hover .dropdown {
    display: block;
}


.showteam:hover .dropdown {
    display: block;
}

.showteam .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000a7;
    color: white;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    min-width: 100px;
    z-index: 1000;
}

nav .fa {
    display: none;
}

.showteam ul {
    text-align: center;
}

.showteam {
    position: relative;
}

.showteam ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.showteam ul li a {
    font-size: 0.75rem;
}

.homeheader {
    background-image: url(herosec_img.webp);
    filter: brightness(90%);
    height: max-content;
    background-position: center;
    height: 500px;
    background-size: cover;
    min-height: 102vh;
    padding-top: 0%;
    margin-top: 0px;
}

.textbox h1 {
    font-size: 7rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 270px;
    text-shadow: 7px 5px 5px rgb(0, 0, 0);
}


.textbox p {
    font-size: 1.25rem;
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
}

.d h1 {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.d p {
    color: white;
    font-size: 1.1rem;
    padding-bottom: 3rem;
    padding-left: 16px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.box {
    background-color: rgba(0, 0, 0, 0.4);
    width: 15%;
    padding: 30px;
    border-radius: 20px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    background-color: #AC0101;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.info h2 {
    color: #bfbbbb;
    font-size: 1.5rem;
}

.count {
    font-size: 96px;
    font-weight: bolder;
}

.li {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.footer {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #fff;
    align-items: center;
}

.socials {
    font-size: 22px;
    padding-top: 20px;
    font-weight: 900;
}


.logo a img {
    padding-top: 10px;
}

.cnts {
    font-size: 18px;
    padding: 10px 0;
}


.copyright {
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 10px;
}

.spons {
    min-height: max-content;
    display: block;
    background-color: white;
}

.spons p {
    text-align: center;
    color: #AC0101;
    font-size: 50px;
    font-weight: 700;
    padding: 15px 0 0 0;
}
.slider1 {
    height: 160px;
    overflow: hidden;
    padding: 0px;
}

.slide-track {
    display: flex;
    width: calc(100px * 38);
    animation: scroll 40s linear infinite;
    padding: 0px;
}

.slide1 {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.sp {
    width: 100px;
    height: auto;
    transition: transform 0.2s;
}

.sp:hover {
    transform: translateZ(20px);
    transform: scale(1.1);

}

.slider1:hover .slide-track {
    animation-play-state: paused;
}

.box p {
    text-align: center;
    font-size: 63px;
    font-weight: bold;
}

.box h2 {
    font-size: 21px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 38));
    }
}

.slider1::before,
.slider1::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%);
    color: #000000;
    content: '';
    height: 100%;
    width: 1%;
    z-index: 1;
}

.slider1::before {
    left: 0;
    top: 0;
}

.slider1::after {
    right: 0;
    top: 0;
    transform: rotateZ(180);
}

.home_car {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #AC0101;
}

.info_home_car {
    width: 35%;
    color: #ffffff;
    padding-top: 80px;
}

.div2 img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.home_team {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: #AC0101;
    padding: 20px;
}

.info_home_team {
    width: 35%;
    color: #ffffff;
    padding-bottom: 80px;
}


.info_home_car p,
.info_home_team p {
    color: #ffffff;
    font-size: 19px;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: justify;
}

.info_home_car h1,
.info_home_team h1 {
    color: #ffffff;
    font-size: 2.5rem;
}


.spons h1 {
    font-size: 4rem;

}

.hero-btn {
    border: 2px solid white;
    text-decoration: none;
    font-weight: 900;
    padding: 10px;
    border-radius: 9px;
    color: white;
    font-size: 20px;
}

.hero-btn:hover {
    background-color: white;
    color: #AC0101;
}

@media (max-width: 900px) {

    .nav-links a,
    .dropdown-container {
        display: none;
    }

    .navbar .icon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive .nav-links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar.responsive .nav-links a,
    .navbar.responsive .dropdown-container {
        display: block;
        text-align: left;
        width: 100%;
    }

    .navbar.responsive .dropdown {
        position: relative;
        background-color: #333;
    }

    .textbox h1 {
        font-size: 2.5rem;
    }

    .textbox p {
        font-size: 1rem;
    }

    .spons h1 {
        font-size: 30px;
    }

    .div3 h1 {
        font-size: 30px;
        padding: 5px;
    }

    #w {
        width: 80%;
        height: auto;
        padding: 10px 0;
    }

    .info {
        display: flex;
        flex-direction: row;
    }

    .box {
        width: 25%;
        padding: 10px;
    }

    .box h2 {
        font-size: 10px;
    }

    .box span {
        font-size: 30px;
    }

    .home_car,
    .home_team {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .info_home_car,
    .info_home_team {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .div2 img {
        height: auto;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
    }

    .info_home_car p,
    .info_home_team p {
        padding-bottom: 15px;
        text-align: justify;
        font-size: 0.9rem;
    }

    .info_home_car h1,
    .info_home_team h1 {
        font-size: 2rem;
    }

    .footer {
        flex-direction: column;
        padding: 1rem;
    }

    .footer .logo a img {
        padding-top: 10px;
    }

    .slide-track {
        width: calc(100px * 19);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100px * 19));
        }
    }
}
